:root {
    --red: #e36b7f;
    --secondary-red: #e0526a;
    --white: #ffffff;
    --cyan: #00FFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", sans-serif;
}

body {
    background-color: var(--cyan);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: var(--red);
    text-align: center;
    font-size: 40px;
}

.display-grid-size {
    text-align: end;
    margin-top: 12px;
}

.grid-container {
    border: 5px solid black;
    width: 470px;
    height: 400px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.row {
    flex: 1;
    display: flex;
}

.cell {
    flex: 1;
}

.menu-container,
.slider-containter,
.btn-container {
    display: flex;
}

.menu-container {
    justify-content: space-between;
    align-items: center;
}

.btn-container {
    gap: 10px;
}

button {
    background-color: var(--red);
    padding: 12px 9px;
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-size: 15px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: var(--secondary-red);
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 12rem;
}

#slider::-webkit-slider-runnable-track {
    background-color: var(--red);
    height: 0.5rem;
    border-radius: 2px;
}

#slider::-webkit-slider-runnable-track:hover {
    background-color: var(--secondary-red);
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--white);
    height: 15px;
    width: 16px;
    border-radius: 100%;
    margin-top: -4px;
}

#color-picker {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

#color-picker::-webkit-color-swatch:hover {
    border: 2px solid black;
}

.footer {
    margin-top: 31px;
}

.footer a {
    color: var(--red);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
