* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00FFFF;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Comic Sans MS", sans-serif;
    color: #e36b7f;
    text-align: center;
}

.grid-container {
    border: 5px solid black;
    width: 400px;
    height: 350px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 17px 0;
}

.row {
    flex: 1;
    display: flex;
}

.cell {
    border: 1px solid gray;
    flex: 1;
}

.cell-change-color {
    background-color: gray;
}

