* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00FFFF;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Comic Sans MS", sans-serif;
    color: #e36b7f;
    text-align: center;
    font-size: 40px;
}

.grid-container {
    border: 5px solid black;
    width: 470px;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 17px 0;
}

.row {
    flex: 1;
    display: flex;
}

.cell {
    border: 1px solid gray;
    flex: 1;
}

.cell-change-color {
    background-color: gray;
}

button {
    background-color: #e36b7f;
    padding: 12px 9px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 15px;
}

#change-grid-size {
    margin-right: 7px;
}

.footer {
    margin-top: 31px;
    font-family: "Comic Sans MS", sans-serif;  
}

.footer a {
    color: #e36b7f;
}
